.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: fixed;
    inset: 0;
    background: linear-gradient(135deg, #FFF2EC, #fea57c, #FFE5D9);
    color: white;
    z-index: 9999;
    animation: fadeIn 0.7s ease;
}

.textLoader {
    font-family: "Montserrat";
    color: #FFE5D9;
    font-weight: 600;
}

.glow {
    position: absolute;
    width: 320px;
    height: 320px;
    background: radial-gradient(circle, #FFE5D9, transparent 70%);
    filter: blur(45px);
    animation: pulse 3s ease-in-out infinite;
}

.icons {
    font-size: 32px;
    animation: float 2.5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.25);
    }

    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}