.containerNewLocation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1240px;
    margin: 50px auto 0;
    padding-bottom: 40px;
}

.titleNewLocation {
    font-weight: 700;
    font-family: "Montserrat";
    color: #1B391B;
    font-size: clamp(32px, 5vw, 48px);
}

.containerFormLocation {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 335px;
}

.photoInput {
    width: 100%;
    max-width: 335px;
    height: 223px;
    background-image: url("../../../public/assets/placeholderImage.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.btnDownload {
    width: 176px;
    height: 32px;
    border: 1px solid #00000026;
    color: #4C2613;
    font-family: "Montserrat";
    font-weight: 500;
    border-radius: 8px;
}

.labelLocation {
    font-family: "Montserrat";
    color: #1B391B;
    font-weight: 500;
}

.inputLocation {
    width: 100%;
    max-width: 335px;
    height: 40px;
    background-color: #FFE5D9;
    border: 1px solid #00000026;
    border-radius: 8px;
    padding-left: 10px;
}

.inputLocation::placeholder {
    font-family: "Montserrat";
    font-weight: 400;
}

.inputLocationArea {
    background-color: #FFE5D9;
    width: 100%;
    max-width: 335px;
    height: 180px;
    border: 1px solid #00000026;
    border-radius: 8px;
    padding-top: 10px;
    padding-left: 10px;
    resize: vertical;
}

.inputLocationArea::placeholder {
    font-family: "Montserrat";
    font-weight: 400;
}

.btnLocation {
    width: 100%;
    max-width: 335px;
    height: 48px;
    border: 1px solid #00000026;
    border-radius: 8px;
}

.btnLocation--post {
    background: #CC6534;
}

.wrapperButton {
    margin-top: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.btnSearch {
    width: 100%;
    max-width: 335px;
    height: 48px;
    font-family: "Montserrat";
    font-weight: 500;
    border: 1px solid #00000026;
    color: #4C2613;
    border-radius: 8px;
}

.imageLocation {
    width: 100%;
    max-width: 335px;
    height: 223px;
}

.btnLocation:hover {
    border: 1px solid #FFE5D9;
}

.mapLocation {
    width: 100%;
    max-width: 335px;
    height: 188px;
}

.wrapperLocation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.inputLocationSelect {
    appearance: none;
    background-image: url("../../../public/assets/arrowDown.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.suggestionsList {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #CC6534;
    overflow-y: auto;
    padding: 0;
}

.suggestionsItemList {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s ease;
}

.suggestionsItemList:hover {
    background-color: #CC6534;
}

.suggestionsItemList:active {
    background-color: #4C2613;
}

@media (min-width: 768px) {
    .containerFormLocation {
        max-width: 704px;
    }

    .photoInputLarge {
        width: 100%;
        max-width: 704px;
        height: 468px;
        background-image: url("../../../public/assets/placeholderImageTablet.png");
    }

    .wrapperLocation {
        flex-direction: row;
        align-items: flex-start;
        gap: 24px;
    }

    .btnSearch {
        width: 199px;
        max-width: none;
    }

    .inputLocation,
    .inputLocationArea,
    .mapLocation,
    .imageLocation {
        max-width: 704px;
    }

    .inputLocation.search {
        max-width: 421px;
    }

    .wrapperButton {
        flex-direction: row;
    }

    .btnLocation {
        width: 203px;
        max-width: none;
    }

    .mapLocation {
        height: 395px;
    }

    .imageLocation {
        height: 468px;
    }
}

@media (min-width: 1440px) {
    .containerFormLocation {
        max-width: 1091px;
    }

    .photoInputLarge {
        background-image: url("../../../public/assets/placeholderImageDesktop.png");
        max-width: 1091px;
        height: 726px;
    }

    .inputLocation {
        height: 43px;
    }

    .btnDownload {
        width: 215px;
    }

    .imageLocation {
        max-width: 1091px;
        height: 726px;
    }
}