@use "../../Scss/Colors" as *;

.loginForm {
  background-color: $bg-primary;
  width: 100%;
}

.loginFormContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 335px;
  margin: auto;

  h1 {
    font-family:
      "Montserrat",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
}

.labelField {
  font-family: "Montserrat";
  color: #1b391b;
  font-weight: 400;
  text-align: left;
}

.inputField {
  width: 100%;
  height: 40px;
  background-color: #ffe5d9;
  border: 1px solid #00000026;
  border-radius: 8px;
  padding-left: 10px;
  font-family: "Montserrat";
  font-weight: 400;

  &::placeholder {
    font-family: "Montserrat";
    font-weight: 400;
  }
}

.btn {
  width: 335px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #00000026;
  font-family: "Montserrat";
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  &--submit {
    background-color: #cc6534;
    color: white;

    &:hover {
      background-color: #b6623c;
    }
  }

  &--cancel {
    background-color: #dfdfdf;
    color: #4c2613;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.leftText {
  margin: 0;
  width: 100%;
  text-align: left;
}

/* ================== NAV LINKS ================== */

.linksBox {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;

  .linksBoxItem {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;

    a {
      text-decoration: none;
      color: #000;
      padding: 8px 0;
      display: inline-block;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 0;
        height: 4px; 
        background-color: grey;
        border-radius: 2px;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;   
      }
    }

    &.activeLinkBoxItem a::after {
      width: 100%;          
    }
  }
}

/* ================== MOBILE ================== */

@media (max-width: 600px) {
  .linksBox {
    flex-direction: column;
    gap: 16px;
    align-items: center;

    .linksBoxItem {
      max-width: 100%;
      padding: 4px 0;

      &::after {
        width: 0;
      }

      &:hover::after {
        width: 0;
      }
    }

    .activeLinkBoxItem::before {
      width: 100%;
    }
  }
}

.copyright {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.loginForm{
  margin-top: 50px;
}