.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
  box-sizing: border-box;
  width: 100%;
}

.headerCont {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

// @media (min-width: 768px) {
//   .container {
//     padding: 0 8px;
//   }
// }

// @media (min-width: 1024px) {
//   .container {
//     padding: 0 32px;
//   }
// }

// @media (min-width: 1440px) {
//   .container {
//     padding: 0 40px;
//   }
// }