.container {
  outline: 2px solid coral;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  border: 2px solid coral;
}

.headerCont {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
