.container {
  border: 2px solid coral;
  max-width: 1200px;
  margin: 0 auto;

  // align-self: center;
}

.headerCont {
  display: flex;
  align-items: cetner;
  text-align: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
