.textDescription {
    font-family: "Montserrat";
    font-weight: 400;
    width: 375px;
    line-height: 150%;
    margin-top: 10%;
}
@media(min-width:768px){
    .textDescription {
        width: 704px;
        margin-top: 6%;
    }
}