@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

header {
  display: flex;
  align-items: cetner;
  text-align: center;
  width: 100%;
  flex-direction: row;

  background-color: #FFF2EC;
}

.logoDiv {
  display: flex;
  align-items: center;
  .logoText {
    font-family: "Montserrat", sans-serif;
  }
}

.half {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  display: flex;
  align-items: center;
nav {
  ul {
    list-style: none;
    display: flex;
    gap: 32px;

    li {
      a {
        text-decoration: none;
        color: inherit;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -4px;
          width: 0;
          height: 2px;
          background-color: currentColor;
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

  .authBox {
    margin-left: 22px;
    display: flex;
    gap: 32px;
    button {
      border: 0;
      padding: 5px;
      border-radius: 10px;
      background-color: #dfdfdf;
      transition: transform 0.3s;
      &:hover {
        transform: rotate(9deg) scale(1.3);
      }
    }
    .regBtn {
      background-color: #cc6534;
      color: white;
      &:hover{
        background-color: #b6623c;
      }
    }
  }
}

.active::after {
  width: 100%;
}
