.titleLocationDetail {
    font-weight:700;
    color:#1B391B;
    font-family: "Montserrat";
    font-size: 32px;
    margin:0;
}
.wrapperInfoBlock {
    display: flex;
    flex-direction: column;
    margin-top:20px;
    gap: 15px;
    margin-right: 40px;
}
.spanLocation {
    font-family: "Montserrat";
    font-family:700;
    font-weight: bold;
    color:#1B391B;
}
.textLocation {
    margin:0;
    display: flex;
    gap:6px;
}