.wrapperLocationDetail{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
@media(min-width:768px) {
    .wrapperLocationDetail {
        height:781px;
        align-items: center;
    }
}
@media(min-width:1440px){
    .wrapperLocationDesktop {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
}